.image--gallery {
  width: 100%;
  height: 32rem;
  display: block;
  margin: auto;
  border: 5px solid #121212;
  object-fit: cover;
}

.image--selection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  justify-content: center;
  align-items: center;
}

.image__item {
  width: 100%;
  height: 8rem;
  display: block;
  margin: auto;
  margin-bottom: 0.5rem;
  border: 5px solid #121212;
  object-fit: cover;
  cursor: pointer;
}
.loader {
  text-align: center;
  margin-top: 20%;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.animate-entrance {
  animation: BounceIn 0.8s;
}

@keyframes BounceIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.separator {
  bottom: -4px;
  left: 0;
  overflow: hidden;
  position: absolute;

  width: 100%;
}

@media screen and (max-width: 767px) {
  .section-one {
    padding: 130px 0 190px;
  }
  .separator {
    bottom: -110px;
  }
  .separator__svg {
    left: -20%;
    position: relative;
    transform: rotate(15deg);
    width: 140%;
  }
}

@media screen and (max-width: 767px) {
  .section-one {
    padding: 130px 0 190px;
  }
  .separator {
    bottom: -110px;
  }
  .separator__svg {
    left: -20%;
    position: relative;
    transform: rotate(15deg);
    width: 140%;
  }
}
